__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
!dist/
dist/*
!dist/rpm/
!dist/rpm/*.rpm
!dist/rpm/README.md
build/
.rpmbuild/
*.rpm
!dist/rpm/*.rpm
~/.local/state/vpnpilot/
.idea/
.vscode/
